@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: theme('colors.bg');
  color: theme('colors.text');
}

/* Dark mode styles */
html.dark {
  background-color: theme('colors.darkBg');
  color: theme('colors.darkText');
}

@media screen and (max-width: 500px) {
  html {
    font-size: 12px;
  }
}

#root {
  @apply font-montserrat mx-auto flex flex-col min-h-screen px-4; /* Apply Tailwind CSS classes */
  max-width: 700px;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}
